{% extends 'base.html' %} {% block content %}
<h1 class="text-primary">{{ clock.name }}</h1>
  {% for state in states %}
  <div class="card">
    <div class="card-block">
      <h2 class="card-title">{{ state.name }}</h2>
        {% for current_state in state.current_state_to_state.all %}
        {{ current_state.userProfile.display_name }}
        {% endfor %}
    </div>
  </div>
  {% endfor %}
<div class="new-clock-button">
  <!-- <button class="btn btn-success btn-lg">+ Add New Clock</button> -->
  <a class="btn btn-success btn-lg mt-3" href="/clock/{{ clock.id }}/manage-states" role="button">Manage States</a>
</div>
{% endblock %}
