{% extends 'base.html' %}
{% block title %}{{clock}}{% endblock %}
{% block content %}
<h1 class="text-primary">{{ clock.name }}</h1>
<p>
  {{ clock.description|default:"" }}
</p>
{% for state in states %}
<div class="card">
  <div class="card-block">
    <div class="row vertical-align">
      <div class="col-sm-4 pb-sm-3 pt-sm-3">
        <h2>{{ state.name }}</h2>
      </div>
      <div class="col-sm-8">
        {% for current_state in state.current_state_to_state.all %}
        {% if current_state.user_profile.avatar %}
        <img src='{{ current_state.user_profile.avatar.url}}' class="rounded-circle avatar-state-img"/>
        {% endif %}
        {% endfor %}
    </div>
  </div>
    </div>
</div>
{% empty %}
<div class="card">
  <div class="card-block">
    <h3>No states available</h3>
  </div>
</div>
{% endfor %}
<div class="mt-3">
  <div class="row">
    <div class="col-md-2">
      <a href="/" class="btn btn-secondary mb-1">Go Back</a>
          </div>
          <div class="col-md-10">
            <div class="float-md-right">
    <a class="btn btn-primary mb-1" href="/clock/{{ clock.id }}/manage-states/" role="button">Location Conditions</a>
    <a class="btn btn-primary mb-1" href="/clock/{{ clock.id }}/manage-states/" role="button">Manage States</a>
    <a class="btn btn-primary mb-1" href="/edit-clock/{{clock.id}}" role="button">Edit Clock</a>
                </div>
  </div>
  </div>
  </div>

{% endblock %}
