<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Clock</title>
      {% load static %}
      {% load bootstrap3 %}
  <link rel="stylesheet" type="text/css" href="{% static 'clock/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'clock/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'clock/css/clock.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Weasley Clock</a>
            </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/manage-profile/">Profile</a>
        </li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/log-out/">Log Out</a>
      </li>
    </ul>
        </div>
  </nav>
  <div class="container">
      <div class="white-slate">
        <h1>Create New Clock</h1>
        <form action="/create-clock-object/" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
          <div class="clearfix">
            <input type="submit" class="btn btn-primary pull-right" value="Submit">
          </div>
        </form>
      </div>
    </div>
</body>
</html>
