{% extends 'base.html' %} {% block content %}
<h1 class="clock-page-title text-center mb-4">{{user_profile.display_name}}'s Clocks</h1>
{% for clock in clocks %}
<div class="card">
  <div class="card-block">
    <a href="/clock/{{ clock.id }}/">
      <h2 class="card-title">{{ clock.name }}</h2></a>
    <div class="card-text">
      {% firstof clock.description '' %}
    </div>
  </div>
</div>
{% endfor %}
<div class="new-clock-button">
  <!-- <button class="btn btn-success btn-lg">+ Add New Clock</button> -->
  <a class="btn btn-success btn-lg mt-2" href="/create-clock/" role="button">Create Clock</a>
</div>
{% endblock %}
