{% extends 'base.html' %} {% load crispy_forms_tags %}
{% block content %}
    <form method="post" action="/clock/states-form/">
    <h1 class="text-primary mb-3">States for {{ clock }}</h1>
    {{ formset.management_form }}
        {% for form in formset %}
        <div class="card">
          <div class="card-block">
<h2 class="card-title"> State {{forloop.counter}}</h2>
        {{ form|crispy }}
                  </div>
                </div>
        {% endfor %}
    {% csrf_token %}
     <input type="submit" class="btn btn-primary btn-lg mt-3" value="Submit">
</form>
{% endblock %}
